{% extends 'base.html' %}

{% block title %}
<title>New Scholar</title>
{% endblock %}

{% block body %}
<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card " style="background-color: #F0D4AE;">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">New Scholar</h3>
                    <form action="/new_scholar" method="POST" onsubmit="return validateForm()">
                        <div class="row mb-3">
                            <label for="name" class="col-sm-4 col-form-label">Scholar Name:</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="roll_no" class="col-sm-4 col-form-label">Roll Number:</label>
                            <div class="col-sm-8">
                                <input type="text" id="roll_no" name="roll_no" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="email" class="col-sm-4 col-form-label">Email Address:</label>
                            <div class="col-sm-8">
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="gender" class="col-sm-4 col-form-label">Gender:</label>
                            <div class="col-sm-8">
                                <select id="gender" name="gender" class="form-select" required>
                                    <option value="">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="date_of_admission" class="col-sm-4 col-form-label">Date of Admission:</label>
                            <div class="col-sm-8">
                                <input type="date" id="date_of_admission" name="date_of_admission" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="research_topic" class="col-sm-4 col-form-label">Research Topic:</label>
                            <div class="col-sm-8">
                                <textarea id="research_topic" name="research_topic" class="form-control">
                                   
                                </textarea>
                            </div>
                        </div>

                        <div class="row mb-3 ps-5">
                            <label>
                                <div class="form-check">
                                    <input type="radio" id="full_time_yes" name="full_time" value="true" >
                                    <label for="full_time_yes" class=" pe-5 me-5">Full-Time</label>

                                    <input type="radio" id="full_time_no" name="full_time" value="false">
                                    <label for="full_time_no">Part-Time</label>
                                </div>
                            </label>
                        </div>

                        <div class="row mb-3">
                            <label for="supervisor_id" class="col-sm-4 col-form-label">Supervisor Name:</label>
                            <div class="col-sm-8">
                                <select id="supervisor_id" name="supervisor_id" class="form-select" required>
                                    <option value="">Select Supervisor</option>
                                    {% for sup in supervisor %}
                                    <option value="{{ sup.supervisor_id }}">{{ sup.salutation }} {{ sup.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="hod_nominee_id" class="col-sm-4 col-form-label">HOD Nominee Name:</label>
                            <div class="col-sm-8">
                                <select id="hod_nominee_id" name="hod_nominee_id" class="form-select">
                                    <option value="">Select HoD Nominee</option>
                                    {% for sup in supervisor %}
                                    <option value="{{ sup.supervisor_id }}">{{ sup.salutation }} {{ sup.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="supervisor_nominee_id" class="col-sm-4 col-form-label">Supervisor Nominee
                                Name:</label>
                            <div class="col-sm-8">
                                <select id="supervisor_nominee_id" name="supervisor_nominee_id" class="form-select">
                                    <option value="">Select Supervisor Nominee</option>
                                    {% for sup in supervisor %}
                                    <option value="{{ sup.supervisor_id }}">{{ sup.salutation }} {{ sup.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Add Scholar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}