<!DOCTYPE html>
<html>

<head>
  <title>RAC Report</title>
  <link rel="stylesheet" href="static/report.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-0">
    <div class="header text-center mt-0" >
      <img src="https://manuucoe.in/ums/assets/img/logo.png" class="border border-info" alt="MANUU Logo">
      <h2 class="fw-semibold">Department of CS & IT</h2>
      <p class="fw-bolder">Minutes of the Research Advisory Committee - April 2020</p>
    </div>
    

    <div class="content fs-6">
      <p>
        The meeting of the 10th Research Advisory Committee meeting for PhD Scholar <strong> {{ scholar.name }}</strong> {{ scholar.date_of_admission }}
        {{ scholar.roll_no }} was
        held on 19th May 2020 at 10:00 am through Zoom. The following members were present:
      </p>

      <ol class="ps-5">
        <li>{{ scholar.supervisor.salutation }} {{ scholar.supervisor.name}}, {{ scholar.supervisor.designation}}, {{ scholar.supervisor.department}}, (Supervisor - Convener)</li>
        <li>{{ scholar.hod_nominee.salutation }} {{ scholar.hod_nominee.name}}, {{ scholar.hod_nominee.designation}}, {{ scholar.hod_nominee.department}}, (Nominee of Hod)</li>
        <li>{{ scholar.supervisor_nominee.salutation }} {{ scholar.supervisor_nominee.name}}, {{ scholar.supervisor_nominee.designation}}, {{ scholar.supervisor_nominee.department}}, (Nominee of Supervisor)</li>
      </ol>

      <p class="fst-italic fs-5">
        <b> TOPIC: </b> "{{scholar.research_topic}}"
      </p>

      <p>
        The PhD scholar,{{ scholar.name }}, appeared before the commitee and gave a brief presentation on the progress of
        research work and submitted progress report for the persual of the Committee.
      </p>

      <p>
        The committee reviewed the research progress of the scholar from the date of previous RAC as follows:
      </p>

      <ol class="ps-5">
        {% for review in rac_report.review %}
        <li>{{ review.review}}</li>
        {% endfor %}
      </ol>

      <p>
        The Committee suggested the following necessary actions to the research scholar:
        <ol class="ps-5">
          {% for recom in rac_report.recommendation %}

            <li>{{ recom.recommendation}}</li>

          {% endfor %}
            
        </ol>
      </p>

    </div>

    <div class="footer ">
      <p style="font-size: small;">The copy of the Minutes shall be sent to Hod,CS & IT/ Academic Section/Exam Branch/Research Scholar.</p>
      <br>
      <div class="row text-center">

        <div class="col">
          Supervisor
        </div>

        <div class="col">
          HoD Nominee
        </div>

        <div class="col">
          Supervisor Nominee
        </div>

        <hr>
        
      </div>
    </div>
  </div>
</body>

</html>