{% extends 'base.html' %}

{% block head %}
<title>Scholars</title>
<!-- <style>
    .hide {
        display: none;
    }
</style> -->

{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">

    <div class="row justify-content-center p-2">
        <h1 class="text-center">Scholar Details</h1>
        {% if scholars|length == 0%}
        <p>No Scholar found</p>
        {% endif %}
        {% for scholar in scholars %}
        <div class="col-lg-4 col-md-6 col-12">
            <a href="/scholar_card/{{ scholar.scholar_id }}" style="text-decoration: none;">
                <div class="card m-2 p-2" style="background-color: #359c95;">
                    <div class="row g-0 px-0">
                        <div class="col-md-4">
                            <img src="https://placehold.co/110x140" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-capitalize fw-semibold">{{ scholar.name }}</h5>
                                <p class="card-text fst-italic">{{ scholar.roll_no }}</p>
                                {% if scholar.status == "awarded" %}
                                <h5><span class="badge bg-success mt-0">{{ scholar.status }}</span></h5>

                                {% elif scholar.status == "de_registered" or scholar.status == "cancelled" %}
                                <h5><span class="badge bg-danger mt-0">{{ scholar.status }}</span></h5>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 px-0">
                        <div class="col-md-12">
                            <p class="card-text fw-normal px-md-2">Supervisor: {{ scholar.supervisor.salutation }} {{
                                scholar.supervisor.name }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}