{% extends 'base.html' %}

{% block head %}
<title>Supervisor's Scholars</title>


{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">

    <div class="accordion mt-2" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bolder" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    {{ supervisor.salutation }}{{ supervisor.name}}`s Scholar as supervisor <span
                        class="badge text-bg-success ms-5">{{ supervisor.scholar|length }} Scholars</span>
                </button>
            </h2>

            <div class="row justify-content-center p-2 accordion-collapse collapse" id="collapseOne"
                data-bs-parent="#accordionExample">

                {% if supervisor.scholar|length == 0%}
                <p>No Scholar found</p>
                {% endif %}
                <span></span> {% for scholar in supervisor.scholar %}
                <div class=" accordion-body col-lg-4 col-md-6 col-12">
                    <a href="/scholar_card/{{ scholar.scholar_id }}" style="text-decoration: none;">
                        <div class="card m-2 p-2" style="background-color: #359c95;">
                            <div class="row g-0 px-0">
                                <div class="col-md-4">
                                    <img src="https://placehold.co/110x140" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-capitalize fw-semibold">{{ scholar.name }}</h5>
                                        <p class="card-text fst-italic">{{ scholar.roll_no }}</p>
                                        {% if scholar.status == "awarded" %}
                                        <h5><span class="badge bg-success mt-0">{{ scholar.status }}</span></h5>

                                        {% elif scholar.status == "de_registered" or scholar.status == "cancelled" %}
                                        <h5><span class="badge bg-danger mt-0">{{ scholar.status }}</span></h5>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0 px-0">
                                <div class="col-md-12">
                                    <p class="card-text fw-normal px-md-2">Supervisor: {{ scholar.supervisor.salutation
                                        }} {{
                                        scholar.supervisor.name }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>






        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bolder" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{ supervisor.salutation }}{{ supervisor.name}}`s Scholar as supervisor's Nominee <span
                        class="badge text-bg-success ms-5">{{ supervisor.supervisor_nominee_scholar|length }}
                        Scholars</span>
                </button>
            </h2>

            <div class="row justify-content-center p-2 accordion-collapse collapse" data-bs-parent="#accordionExample"
                id="collapseTwo">
                {% if supervisor.supervisor_nominee_scholar|length == 0%}
                <p>No Scholar found</p>
                {% endif %}
                {% for scholar in supervisor.supervisor_nominee_scholar %}
                <div class=" accordion-body col-lg-4 col-md-6 col-12">
                    <a href="/scholar_card/{{ scholar.scholar_id }}" style="text-decoration: none;">
                        <div class="card m-2 p-2" style="background-color: #359c95;">
                            <div class="row g-0 px-0">
                                <div class="col-md-4">
                                    <img src="https://placehold.co/110x140" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-capitalize fw-semibold">{{ scholar.name }}</h5>
                                        <p class="card-text fst-italic">{{ scholar.roll_no }}</p>
                                        {% if scholar.status == "awarded" %}
                                        <h5><span class="badge bg-success mt-0">{{ scholar.status }}</span></h5>

                                        {% elif scholar.status == "de_registered" or scholar.status == "cancelled" %}
                                        <h5><span class="badge bg-danger mt-0">{{ scholar.status }}</span></h5>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0 px-0">
                                <div class="col-md-12">
                                    <p class="card-text fw-normal px-md-2">Supervisor: {{ scholar.supervisor.salutation
                                        }} {{
                                        scholar.supervisor.name }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bolder" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                    {{ supervisor.salutation }}{{ supervisor.name}}`s Scholar as HoD's Nominee <span
                        class="badge text-bg-success ms-5">{{ supervisor.hod_nominee_scholar|length }} Scholars</span>
                </button>
            </h2>
            <div class="row justify-content-center accordion-collapse collapse p-2" id="collapseThree"
                data-bs-parent="#accordionExample">
                {% if supervisor.hod_nominee_scholar|length == 0%}
                <p>No Scholar found</p>
                {% endif %}
                {% for scholar in supervisor.hod_nominee_scholar %}
                <div class=" accordion-body col-lg-4 col-md-6 col-12">
                    <a href="/scholar_card/{{ scholar.scholar_id }}" style="text-decoration: none;">
                        <div class="card m-2 p-2" style="background-color: #359c95;">
                            <div class="row g-0 px-0">
                                <div class="col-md-4">
                                    <img src="https://placehold.co/110x140" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-capitalize fw-semibold">{{ scholar.name }}</h5>
                                        <p class="card-text fst-italic">{{ scholar.roll_no }}</p>
                                        {% if scholar.status == "awarded" %}
                                        <h5><span class="badge bg-success mt-0">{{ scholar.status }}</span></h5>

                                        {% elif scholar.status == "de_registered" or scholar.status == "cancelled" %}
                                        <h5><span class="badge bg-danger mt-0">{{ scholar.status }}</span></h5>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0 px-0">
                                <div class="col-md-12">
                                    <p class="card-text fw-normal px-md-2">Supervisor: {{ scholar.supervisor.salutation
                                        }} {{
                                        scholar.supervisor.name }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>



{% endblock %}